div(class='page-header')
    h3(class='text-center') Управление виджетами
ul(class='nav nav-tabs')
    li(class={active: path === '/'})
        a(href='/') Все виджеты
    li(class={active: path === '/widget/create'})
        a(href='/widget/create') Создать виджет
    li
        a(href='/logout') Выход
