div(class='weather-widget')
    script(src='http://localhost:8080/widget/' + id + '?callback=fillInWidget')
    div(class='panel panel-default')
        div(class='panel-heading')=city
        div(class='panel-body')
            case layout
                when 'vertical'
                    - for(let i = 0; i < days; i++)
                        div(class='row')
                            div(class='col-lg-12 col-sm-12 col-md-12')

                when 'horizontal'
                    div(class='row')
                    - days = parseInt(days, 10)
                    case days
                        when 1
                            div(class='col-lg-12 col-sm-12 col-md-12')
                        when 3
                            div(class='col-lg-4 col-sm-4 col-md-4')
                            div(class='col-lg-4 col-sm-4 col-md-4')
                            div(class='col-lg-4 col-sm-4 col-md-4')
                        when 7
                            div(class='col-lg-2 col-sm-2 col-md-2')
                            div(class='col-lg-2 col-sm-2 col-md-2')
                            div(class='col-lg-1 col-sm-1 col-md-1')
                            div(class='col-lg-1 col-sm-1 col-md-1')
                            div(class='col-lg-1 col-sm-1 col-md-1')
                            div(class='col-lg-2 col-sm-2 col-md-2')
                            div(class='col-lg-2 col-sm-2 col-md-2')
