html
    head
        title WidgetsCreator
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/app.css')
    body
        nav(class='navbar navbar-default')
            div(class='container-fluid')
                ul(class='nav navbar-nav')
                    li
                        a(href='/widgets/create') Создать виджет
                    li
                        a(href='/widgets') Все виджеты
        block content
        script(src='/js/WidgetCreator.js')
