extends layout.pug

block content
    div(class='panel panel-default')
        div(class='panel-heading') Вход на сайт
        div(class='panel-body')
            form(method='POST', action='/login')
                div(class='form-group')
                    label(for='login') Логин:
                    input(type='text', name='login', class='form-control' id='login', placeholder='Введите логин')
                div(class='form-group')
                    label(for='password') Пароль:
                    input(type='password', name='password', class='form-control' id='password', placeholder='Введите пароль')
                button(type='submit', class='btn btn-primary') Войти
                a(href='/register', class='btn btn-link pull-right') Регистрация
